.cardWrapper {
  display: flex;
  width: 30%;
}

.cardsWrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
}

.empty {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
}
